* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d1118;
}

a {
  text-decoration: none;
  color: #8095e8;
  transition: 0.5s;
}

a:hover {
  color: #32c1c0;
}
